@import "tailwindcss";

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
      border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {

  input::placeholder,
  textarea::placeholder {
      color: var(--color-gray-400);
  }
}

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;

  --color-primary: #CFA07A;
  --color-secondary: #94ada7;
  --color-button: #7E9D95;
  --color-links: #94ada7;
  --color-overlay: #CBA9A5
      /* ... */
}

@layer base {

  button:not(:disabled),
  [role="button"]:not(:disabled) {
      cursor: pointer;
  }
}